interactions:
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String)
      { productVariants(first: $first, after: $after, query: $filter) { edges { cursor
      node { id availableForSale barcode compareAtPrice createdAt displayName image
      { id altText } inventoryItem { id } inventoryPolicy inventoryQuantity legacyResourceId
      position price product { id } selectedOptions { name value } sellingPlanGroupCount
      sku taxable title updatedAt } }, pageInfo { hasNextPage } } } ", "variables":
      {"first": 1, "filter": "updated_at:>''2015-01-01T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-tx-test-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"productVariants":{"edges":[{"cursor":"eyJsYXN0X2lkIjo0OTIxNDk2OTA4NjI5OCwibGFzdF92YWx1ZSI6IjQ5MjE0OTY5MDg2Mjk4In0=","node":{"id":"gid://shopify/ProductVariant/49214969086298","availableForSale":true,"barcode":null,"compareAtPrice":null,"createdAt":"2024-07-29T17:32:56Z","displayName":"The
        Minimal Snowboard - Default Title","image":null,"inventoryItem":{"id":"gid://shopify/InventoryItem/51259260305754"},"inventoryPolicy":"DENY","inventoryQuantity":50,"legacyResourceId":"49214969086298","position":1,"price":"885.95","product":{"id":"gid://shopify/Product/9687691952474"},"selectedOptions":[{"name":"Title","value":"Default
        Title"}],"sellingPlanGroupCount":0,"sku":"","taxable":true,"title":"Default
        Title","updatedAt":"2024-07-29T17:32:56Z"}}],"pageInfo":{"hasNextPage":true}}},"extensions":{"cost":{"requestedQueryCost":7,"actualQueryCost":7,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1993,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-europe-west4,gcp-europe-west4
      x-shopify-api-deprecated-reason:
      - ProductVariant.image, ProductVariant.sellingPlanGroupCount
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-07
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '50209226753'
      x-stats-apipermissionid:
      - '897748468058'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String)
      { productVariants(first: $first, after: $after, query: $filter) { edges { cursor
      node { id availableForSale barcode compareAtPrice createdAt displayName image
      { id altText } inventoryItem { id } inventoryPolicy inventoryQuantity legacyResourceId
      position price product { id } selectedOptions { name value } sellingPlanGroupCount
      sku taxable title updatedAt } }, pageInfo { hasNextPage } } } ", "variables":
      {"first": 142, "after": "eyJsYXN0X2lkIjo0OTIxNDk2OTA4NjI5OCwibGFzdF92YWx1ZSI6IjQ5MjE0OTY5MDg2Mjk4In0=",
      "filter": "updated_at:>''2015-01-01T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-tx-test-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"productVariants":{"edges":[{"cursor":"eyJsYXN0X2lkIjo0OTIxNDk2OTExOTA2NiwibGFzdF92YWx1ZSI6IjQ5MjE0OTY5MTE5MDY2In0=","node":{"id":"gid://shopify/ProductVariant/4[...]
