interactions:
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String,
      $sortKey: OrderSortKeys) { orders(first: $first, after: $after, query: $filter,
      sortKey: $sortKey) { edges { cursor node { id fulfillments { id } updatedAt
      } }, pageInfo { hasNextPage } } } ", "variables": {"first": 1, "filter": "updated_at:>''2026-05-30T00:00:00''",
      "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"orders": {"edges": [{"cursor": "eyJsYXN0X2lkIjo3MTg1MDg3MzY1MzQwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyNS4wNDU3MDQifQ==",
        "node": {"id": "gid://shopify/Order/7185087365340", "fulfillments": [], "updatedAt":
        "2026-06-30T16:30:25Z"}}], "pageInfo": {"hasNextPage": true}}}, "extensions":
        {"cost": {"requestedQueryCost": 1295, "actualQueryCost": 1295, "throttleStatus":
        {"maximumAvailable": -1559818944678.51, "currentlyAvailable": 3744, "restoreRate":
        52527529775237.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-10
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String,
      $sortKey: OrderSortKeys) { orders(first: $first, after: $after, query: $filter,
      sortKey: $sortKey) { edges { cursor node { id fulfillments { id } updatedAt
      } }, pageInfo { hasNextPage } } } ", "variables": {"first": 250, "after": "eyJsYXN0X2lkIjo3MTg1MDg3MzY1MzQwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyNS4wNDU3MDQifQ==",
      "filter": "updated_at:>''2026-05-30T00:00:00''", "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"orders": {"edges": [{"cursor": "eyJsYXN0X2lkIjo3MTg1ODk0NjcwNTU2LCJsYXN0X3ZhbHVlIjoiMjAyNi0wNy0wMSAwMTo0NjoxNy40MTQ3MT[...]
- request:
    body: '{"query": "query tapShopify($id1: ID!) {  q1: fulfillment(id: $id1) { id
      order { id } inTransitAt legacyResourceId location { activatable address { address1
      address2 city country countryCode formatted latitude longitude phone province
      provinceCode zip } addressVerified createdAt deactivatable deactivatedAt deletable
      fulfillmentService { callbackUrl handle id inventoryManagement location { id
      } permitsSkuSharing serviceName type } fulfillsOnlineOrders hasActiveInventory
      hasUnfulfilledOrders id isActive isFulfillmentService legacyResourceId name
      shipsInventory updatedAt } name requiresShipping service { id } status totalQuantity
      trackingInfo { company number url } updatedAt }  }", "variables": {"id1": "gid://shopify/Fulfillment/6447570911452"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"errors": [{"message": "-Fallback-scrubbed-qakWVsIgEyGNWXivNjXfHnxCqcforObThpUTUyiqJZTfhAJyJijkjvbcgfnxJYpducrPvqfzRlxkQbZlhLbNNjOkpYNcxfEXrflphavtrlIAjwZuaHHxgGrMPDxJUMfrHpSXJQQvaMpEMAtcUPdK",
        "locations": [{"line": 3224, "column": 7673}], "extensions": {"code": "-Fallback-scrubbed-SzagissNtVQei",
        "documentation": "-Fallback-scrubbed-ErQIItnrsCjMogMqJHpldGIhrNheZGnWlgzoNJSUtAb",
        "requiredAccess": "-Fallback-scrubbed-RiRcBuaWNNhBJTjIfnbdxxIjyJDDLnHdoQpcFsjpLEraqdtXmMZEJEShWWlTmawpJXTnpIhXFSzSzGHXzrEMOdazuJNaoGTrl"},
        "path": ["-Fallback-scrubbed-wM", "-Fallback-scrubbed-okOyNcXP"]}], "data":
        {"q1": {"id": "gid://shopify/Fulfillment/6447570911452", "order": {"id": "gid://shopify/Order/7091609436380"},
        "inTransitAt": null, "legacyResourceId": "-Fallback-scrubbed-dwrUjcGcVSAlU",
        "location": null, "name": "Mark Johnson", "requiresShipping": false, "service":
        {"id": "gid://shopify/FulfillmentService/manual"}, "status": "-Fallback-scrubbed-NPbdSyj",
        "totalQuantity": 3224, "trackingInfo": [], "updatedAt": "2026-07-07T15:31:57Z"}},
        "extensions": {"cost": {"requestedQueryCost": 7897, "actualQueryCost": 2092,
        "throttleStatus": {"maximumAvailable": -1559818944678.51, "currentlyAvailable":
        1484, "restoreRate": 52527529775237.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-deprecated-reason:
      - FulfillmentService.permitsSkuSharing
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-10
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
version: 1
