interactions:
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String) { shopifyPaymentsAccount { id payouts(first: $first, after: $after, query: $filter) { edges { cursor node { id issuedAt legacyResourceId net { amount currencyCode } status summary { adjustmentsFee { amount currencyCode } adjustmentsGross { amount currencyCode } chargesFee { amount currencyCode } chargesGross { amount currencyCode } reservedFundsFee { amount currencyCode } reservedFundsGross { amount currencyCode } retriedPayoutsFee { amount currencyCode } retriedPayoutsGross { amount currencyCode } } transactionType } }, pageInfo { hasNextPage } } } } ", "variables": {"first": 100, "filter": "issued_at:>''2025-01-01T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"shopifyPaymentsAccount":{"id":"gid://shopify/ShopifyPaymentsAccount/999000459309356","payouts":{"edges":[{"cursor":"eyJsYXN0X2lkIjoxMjI2NzkyNjM1MzIsImxhc3RfdmFsdWUiOjE3MzU3NzYwMDAwMDB9","node":{"id":"gid://shopify/ShopifyPaymentsPayout/122679263532","issuedAt":"2025-01-02T00:00:00Z","legacyResourceId":"122679263532","net":{"amount":"3908.61","currencyCode":"USD"},"status":"PAID","summary":{"adjustmentsFee":{"amount":"0.0","currencyCode":"USD"},"adjustmentsGross":{"amount":"0.0","currencyCode":"USD"},"chargesFee":{"amount":"140.86","currencyCode":"USD"},"chargesGross":{"amount":"4098.2","currencyCode":"USD"},"reservedFundsFee":{"amount":"0.0","currencyCode":"USD"},"reservedFundsGross":{"amount":"0.0","currencyCode":"USD"},"retriedPayoutsFee":{"amount":"0.0","currencyCode":"USD"},"retriedPayoutsGross":{"amount":"0.0","currencyCode":"USD"}},"transactionType":"DEPOSIT"}}],"pageInfo":{"hasNextPage":false}}}},"extensions":{"cost":{"requestedQueryCost":21,"actualQueryCost":21,"throttleStatus":{"maximumAvailable":20000.0,"currentlyAvailable":19979,"restoreRate":1000.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Shopify-Edge-Ip:
      - 23.227.38.74
      content-language:
      - en
      x-dc:
      - gcp-us-central1,gcp-us-central1,gcp-us-central1
      x-shardid:
      - '299'
      x-shopid:
      - '70609043756'
      x-shopify-api-version:
      - 2024-07
      x-sorting-hat-podid:
      - '299'
      x-sorting-hat-shopid:
      - '70609043756'
      x-stats-apiclientid:
      - '185023266817'
      x-stats-apipermissionid:
      - '793609339180'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String) { shopifyPaymentsAccount { id payouts(first: $first, after: $after, query: $filter) { edges { cursor node { id issuedAt legacyResourceId net { amount currencyCode } status summary { adjustmentsFee { amount currencyCode } adjustmentsGross { amount currencyCode } chargesFee { amount currencyCode } chargesGross { amount currencyCode } reservedFundsFee { amount currencyCode } reservedFundsGross { amount currencyCode } retriedPayoutsFee { amount currencyCode } retriedPayoutsGross { amount currencyCode } } transactionType } }, pageInfo { hasNextPage } } } } ", "variables": {"first": 100, "after": "eyJsYXN0X2lkIjoxMjcwNjk5MTMzODgsImxhc3RfdmFsdWUiOjE3NDU5NzEyMDAwMDB9", "filter": "issued_at:>''2025-01-01T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sheets-laundry-club-pro.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"shopifyPaymentsAccount":{"id":"gid://shopify/ShopifyPaymentsAccount/999000459309356","payouts":{"edges":[{"cursor":"eyJsYXN0X2lkIjoxMjcxMjE4NTA2NjgsImxhc3RfdmFsdWUiOjE3N[...]
