interactions:
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String) { orders(first: $first, after: $after, query: $filter) { edges { cursor node { id updatedAt customerJourneySummary { firstVisit { id landingPage landingPageHtml marketingEvent { app { id apiKey appStoreAppUrl appStoreDeveloperUrl banner { altText height id url width } description developerName developerType embedded features icon { altText height id url width } installUrl isPostPurchaseAppInUse previouslyInstalled pricingDetails pricingDetailsSummary privacyPolicyUrl publicCategory published requestedAccessScopes { description handle } shopifyDeveloped title uninstallMessage webhookApiVersion } channelHandle description endedAt id manageUrl marketingChannelType previewUrl remoteId scheduledToEndAt sourceAndMedium startedAt type utmCampaign utmMedium utmSource } occurredAt referralCode referralInfoHtml referrerUrl source sourceDescription sourceType utmParameters { campaign content medium source term } }
      } } }, pageInfo { hasNextPage } } } ", "variables": {"first": 100, "filter": "updated_at:>''2026-05-30T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"errors":[{"message":"Internal error. Looks like something went wrong on our end.\nRequest ID: local-smoke-test-retry (include this in support requests)","extensions":{"code":"INTERNAL_SERVER_ERROR","requestId":"local-smoke-test-retry"}}],"data":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-07
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String) { orders(first: $first, after: $after, query: $filter) { edges { cursor node { id updatedAt customerJourneySummary { firstVisit { id landingPage landingPageHtml marketingEvent { app { id apiKey appStoreAppUrl appStoreDeveloperUrl banner { altText height id url width } description developerName developerType embedded features icon { altText height id url width } installUrl isPostPurchaseAppInUse previouslyInstalled pricingDetails pricingDetailsSummary privacyPolicyUrl publicCategory published requestedAccessScopes { description handle } shopifyDeveloped title uninstallMessage webhookApiVersion } channelHandle description endedAt id manageUrl marketingChannelType previewUrl remoteId scheduledToEndAt sourceAndMedium startedAt type utmCampaign utmMedium utmSource } occurredAt referralCode referralInfoHtml referrerUrl source sourceDescription sourceType utmParameters { campaign content medium source term } }
      } } }, pageInfo { hasNextPage } } } ", "variables": {"first": 100, "filter": "updated_at:>''2026-05-30T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"orders":{"edges":[{"cursor":"eyJsYXN0X2lkIjo3MDkxNjA5NDM2MzgwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNS0zMCAxNjozMDowNC41ODk4MDMifQ==","node":{"id":"gid://shopify/Order/7091609436380","updatedAt":"2026-07-07T15:31:58Z","customerJourneySummary":{"firstVisit":null}}},{"cursor":"eyJsYXN0X2lkIjo3MDkyMzczNTg2MTQwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNS0zMSAwMTo0NToxOC4zNzY5OTYifQ==","node":{"id":"gid://shopify/Order/7092373586140","updatedAt":"2026-07-07T15:32:00Z","customerJourneySummary":{"firstVisit":null}}},{"cursor":"eyJsYXN0X2lkIjo3MTg1MDg3MzY1MzQwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoxNy44Mjg4OTMifQ==","node":{"id":"gid://shopify/Order/7185087365340","updatedAt":"2026-06-30T16:30:25Z","customerJourneySummary":{"firstVisit":null}}},{"cursor":"eyJsYXN0X2lkIjo3MTg1ODk0NjcwNTU2LCJsYXN0X3ZhbHVlIjoiMjAyNi0wNy0wMSAwMTo0NTozNC41MDQ1MTYifQ==","node":{"id":"gid://shopify/Order/7185894670556","updatedAt":"2026-07-01T01:46:17Z","customerJourneySummary":{"firstVisit":null}}}],"pageInfo":{"hasNextPage":false}}},"extensions":{"cost":{"requestedQueryCost":83,"actualQueryCost":4,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1996,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-07
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String, $sortKey: CustomerSortKeys) { customers(first: $first, after: $after, query: $filter, sortKey: $sortKey) { edges { cursor node { id firstName lastName email phone numberOfOrders amountSpent { amount currencyCode } note verifiedEmail validEmailAddress tags lifetimeDuration defaultAddress { address1 address2 city company coordinatesValidated country countryCodeV2 firstName formatted formattedArea lastName latitude longitude name phone province provinceCode timeZone zip } addresses { address1 address2 city company coordinatesValidated country countryCodeV2 firstName formatted formattedArea lastName latitude longitude name phone province provinceCode timeZone zip } image { altText height id url width } canDelete createdAt updatedAt emailMarketingConsent { consentUpdatedAt marketingOptInLevel marketingState } smsMarketingConsent { consentCollectedFrom consentUpdatedAt marketingOptInLevel marketingState } } },
      pageInfo { hasNextPage } } } ", "variables": {"first": 1, "filter": "updated_at:>''2026-05-30T00:00:00''", "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"customers":{"edges":[{"cursor":"eyJsYXN0X2lkIjo5MjczNjI0NDYxNTMyLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyMC4wMDAwMDAifQ==","node":{"id":"gid://shopify/Customer/9273624461532","firstName":null,"lastName":"Rosa","email":"rosa@hotglue.io","phone":null,"numberOfOrders":"0","amountSpent":{"amount":"0.0","currencyCode":"USD"},"note":null,"verifiedEmail":true,"validEmailAddress":true,"tags":["Active Subscriber","active_subscriber_autumn field - Black / Medium"],"lifetimeDuration":"3 months","defaultAddress":{"address1":"Av La Marina 478","address2":null,"city":"Lima","company":null,"coordinatesValidated":true,"country":"Peru","countryCodeV2":"PE","firstName":null,"formatted":["Av La Marina 478","Lima","LMA","Peru"],"formattedArea":"Lima, LMA, Peru","lastName":"Rosa","latitude":-12.0834453,"longitude":-77.06575579999999,"name":"Rosa","phone":null,"province":"Lima (provincia)","provinceCode":"PE-LMA","timeZone":"America/Lima","zip":null},"addresses":[{"address1":"Av La
        Marina 478","address2":null,"city":"Lima","company":null,"coordinatesValidated":true,"country":"Peru","countryCodeV2":"PE","firstName":null,"formatted":["Av La Marina 478","Lima","LMA","Peru"],"formattedArea":"Lima, LMA, Peru","lastName":"Rosa","latitude":-12.0834453,"longitude":-77.06575579999999,"name":"Rosa","phone":null,"province":"Lima (provincia)","provinceCode":"PE-LMA","timeZone":"America/Lima","zip":null}],"image":{"altText":null,"height":null,"id":null,"url":"https://cdn.shopify.com/proxy/20ea5382b0aa1cf15fa95f6d04682435fc593146857c4347812898a082f69e9d/www.gravatar.com/avatar/b3fe24e2863b580b7b40297ef842d24a.jpg?s=2048&d=https%3A%2F%2Fcdn.shopify.com%2Fshopifycloud%2Fshopify%2Fassets%2Fadmin%2Fcustomers%2Fpolaris%2Favatar-1-fce0242e4d66279157b1e260c9163a31bf734548f4d570485a3f543cee0e6664.png","width":null},"canDelete":false,"createdAt":"2026-03-31T03:10:35Z","updatedAt":"2026-06-30T16:30:20Z","emailMarketingConsent":{"consentUpdatedAt":null,"marketingOptInLevel":"SINGLE_OPT_IN","marketingState":"NOT_SUBSCRIBED"},"smsMarketingConsent":null}}],"pageInfo":{"hasNextPage":true}}},"extensions":{"cost":{"requestedQueryCost":4,"actualQueryCost":4,"throttleStatus":{"maximumAvailable":2000.0,"currentlyAvailable":1996,"restoreRate":100.0}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-deprecated-reason:
      - Customer.email, Customer.phone, Customer.validEmailAddress, Customer.addresses, Customer.emailMarketingConsent and 1 more
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-07
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String, $sortKey: CustomerSortKeys) { customers(first: $first, after: $after, query: $filter, sortKey: $sortKey) { edges { cursor node { id firstName lastName email phone numberOfOrders amountSpent { amount currencyCode } note verifiedEmail validEmailAddress tags lifetimeDuration defaultAddress { address1 address2 city company coordinatesValidated country countryCodeV2 firstName formatted formattedArea lastName latitude longitude name phone province provinceCode timeZone zip } addresses { address1 address2 city company coordinatesValidated country countryCodeV2 firstName formatted formattedArea lastName latitude longitude name phone province provinceCode timeZone zip } image { altText height id url width } canDelete createdAt updatedAt emailMarketingConsent { consentUpdatedAt marketingOptInLevel marketingState } smsMarketingConsent { consentCollectedFrom consentUpdatedAt marketingOptInLevel marketingState } } },
      pageInfo { hasNextPage } } } ", "variables": {"first": 250, "after": "eyJsYXN0X2lkIjo5MjczNjI0NDYxNTMyLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyMC4wMDAwMDAifQ==", "filter": "updated_at:>''2026-05-30T00:00:00''", "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2024-07/graphql.json
  response:
    body:
      string: '{"data":{"customers":{"edges":[{"cursor":"eyJsYXN0X2lkIjo4MTAwOTEyMjM0NzE2LCJsYXN0X3ZhbHVlIjoiMjAyNi0wNy0wNyAxNTozMjowMy4wMDAwMDAifQ=="[...]
[...]
