interactions:
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String)
      { orders(first: $first, after: $after, query: $filter) { edges { cursor node
      { id updatedAt customerJourneySummary { firstVisit { id landingPage landingPageHtml
      marketingEvent { app { id apiKey appStoreAppUrl appStoreDeveloperUrl banner
      { altText height id url width } description developerName developerType embedded
      features icon { altText height id url width } installUrl isPostPurchaseAppInUse
      previouslyInstalled pricingDetails pricingDetailsSummary privacyPolicyUrl publicCategory
      published requestedAccessScopes { description handle } shopifyDeveloped title
      uninstallMessage webhookApiVersion } channelHandle description endedAt id manageUrl
      marketingChannelType previewUrl remoteId scheduledToEndAt sourceAndMedium startedAt
      type utmCampaign utmMedium utmSource } occurredAt referralCode referralInfoHtml
      referrerUrl source sourceDescription sourceType utmParameters { campaign content
      medium source term } } } } }, pageInfo { hasNextPage } } } ", "variables": {"first":
      100, "filter": "updated_at:>''2026-05-30T00:00:00''"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"errors":[{"message":"Internal error. Looks like something went wrong on our end.\nRequest ID: ff98c7e7-c012-4797-b5ee-4242fe7fd3f8-1738885851 (include this in support requests)","extensions":{"code":"INTERNAL_SERVER_ERROR","requestId":"ff98c7e7-c012-4797-b5ee-4242fe7fd3f8-1738885851"}}],"data":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-10
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String,
      $sortKey: CustomerSortKeys) { customers(first: $first, after: $after, query:
      $filter, sortKey: $sortKey) { edges { cursor node { id firstName lastName email
      phone numberOfOrders amountSpent { amount currencyCode } note verifiedEmail
      validEmailAddress tags lifetimeDuration defaultAddress { address1 address2 city
      company coordinatesValidated country countryCodeV2 firstName formatted formattedArea
      lastName latitude longitude name phone province provinceCode timeZone zip }
      addresses { address1 address2 city company coordinatesValidated country countryCodeV2
      firstName formatted formattedArea lastName latitude longitude name phone province
      provinceCode timeZone zip } image { altText height id url width } canDelete
      createdAt updatedAt emailMarketingConsent { consentUpdatedAt marketingOptInLevel
      marketingState } smsMarketingConsent { consentCollectedFrom consentUpdatedAt
      marketingOptInLevel marketingState } } }, pageInfo { hasNextPage } } } ", "variables":
      {"first": 1, "filter": "updated_at:>''2026-05-30T00:00:00''", "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"customers": {"edges": [{"cursor": "eyJsYXN0X2lkIjo5MjczNjI0NDYxNTMyLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyMC4wMDAwMDAifQ==",
        "node": {"id": "gid://shopify/Customer/9273624461532", "firstName": null,
        "lastName": "Spencer", "email": "lyonsemily@example.net", "phone": null, "numberOfOrders":
        "-Fallback-scrubbed-o", "amountSpent": {"amount": "-Fallback-scrubbed-LcC",
        "currencyCode": "-Fallback-scrubbed-bzH"}, "note": null, "verifiedEmail":
        true, "validEmailAddress": true, "tags": ["-Fallback-scrubbed-tNwqjUYWTSsAalyrN",
        "-Fallback-scrubbed-WuFnfgkYPQQVVUYQEdxNawtSshdBwfgPAPxXnSfRNycunnl"], "lifetimeDuration":
        "-Fallback-scrubbed-xNNyYdkI", "defaultAddress": {"address1": "545 Leslie
        Rest Suite 882", "address2": null, "city": "Crawfordmouth", "company": null,
        "coordinatesValidated": true, "country": "-Fallback-scrubbed-EQfe", "countryCodeV2":
        "-Fallback-scrubbed-lA", "firstName": null, "formatted": ["545 Leslie Rest
        Suite 882", "Crawfordmouth", "-Fallback-scrubbed-gIP", "-Fallback-scrubbed-EQfe"],
        "formattedArea": "-Fallback-scrubbed-XBmNoBpRXiUDIlW", "lastName": "Spencer",
        "latitude": 63.5886325, "longitude": 93.778322, "name": "Spencer", "phone":
        null, "province": "Delaware", "provinceCode": "Pennsylvania", "timeZone":
        "-Fallback-scrubbed-HsTAUShXCLFE", "zip": null}, "addresses": [{"address1":
        "545 Leslie Rest Suite 882", "address2": null, "city": "Crawfordmouth", "company":
        null, "coordinatesValidated": true, "country": "-Fallback-scrubbed-EQfe",
        "countryCodeV2": "-Fallback-scrubbed-lA", "firstName": null, "formatted":
        ["545 Leslie Rest Suite 882", "Crawfordmouth", "-Fallback-scrubbed-gIP", "-Fallback-scrubbed-EQfe"],
        "formattedArea": "-Fallback-scrubbed-XBmNoBpRXiUDIlW", "lastName": "Spencer",
        "latitude": 63.5886325, "longitude": 93.778322, "name": "Spencer", "phone":
        null, "province": "Delaware", "provinceCode": "Pennsylvania", "timeZone":
        "-Fallback-scrubbed-HsTAUShXCLFE", "zip": null}], "image": {"altText": null,
        "height": null, "id": null, "url": "-Fallback-scrubbed-wZmRWlEGAqNTSKwTewkIIngVLfyHTdXXdLQhmvqZECBQoXTfKTkQlrqOCLYgxuLqXcuEpXHvqYhpFefSDDivlOyjRjYRjoeNlIDhRcdWNTDAoXEfoUQokvvLSLTsskmaJwOsjMYwXvcSELuzvPxRRdibysnbauJyqraTuysgbjQNHUwsswOlGXAJvlWzheLUYPBudGGFFDyLxcFZBBZlANMSNincvQbiSgcPWBnMEvnmWWlBaWBWsNkWFnWryObYIXyszzWWZdWkwIWDuWNgslXBJBkIZfnheJKBMtGAqjPjnlODtgrOXTJxbDcnIRSCzbquouMLhBltJysQnd",
        "width": null}, "canDelete": false, "createdAt": "-Fallback-scrubbed-NjUGEJKBPiHlSIgljFku",
        "updatedAt": "2026-06-30T16:30:20Z", "emailMarketingConsent": {"consentUpdatedAt":
        null, "marketingOptInLevel": "-Fallback-scrubbed-GhHeMcWcTpucS", "marketingState":
        "-Fallback-scrubbed-QYWVHvSeERuDUp"}, "smsMarketingConsent": null}}], "pageInfo":
        {"hasNextPage": true}}}, "extensions": {"cost": {"requestedQueryCost": 7303,
        "actualQueryCost": 7303, "throttleStatus": {"maximumAvailable": -730456.23800708,
        "currentlyAvailable": 7938, "restoreRate": 70.8541872986456}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-deprecated-reason:
      - Customer.email, Customer.phone, Customer.validEmailAddress, Customer.addresses,
        Customer.emailMarketingConsent and 1 more
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-10
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String,
      $sortKey: CustomerSortKeys) { customers(first: $first, after: $after, query:
      $filter, sortKey: $sortKey) { edges { cursor node { id firstName lastName email
      phone numberOfOrders amountSpent { amount currencyCode } note verifiedEmail
      validEmailAddress tags lifetimeDuration defaultAddress { address1 address2 city
      company coordinatesValidated country countryCodeV2 firstName formatted formattedArea
      lastName latitude longitude name phone province provinceCode timeZone zip }
      addresses { address1 address2 city company coordinatesValidated country countryCodeV2
      firstName formatted formattedArea lastName latitude longitude name phone province
      provinceCode timeZone zip } image { altText height id url width } canDelete
      createdAt updatedAt emailMarketingConsent { consentUpdatedAt marketingOptInLevel
      marketingState } smsMarketingConsent { consentCollectedFrom consentUpdatedAt
      marketingOptInLevel marketingState } } }, pageInfo { hasNextPage } } } ", "variables":
      {"first": 250, "after": "eyJsYXN0X2lkIjo5MjczNjI0NDYxNTMyLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyMC4wMDAwMDAifQ==",
      "filter": "updated_at:>''2026-05-30T00:00:00''", "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"customers": {"edges": [{"cursor": "eyJsYXN0X2lkIjo4MTAwOTEyMjM0NzE2LCJsYXN0X3ZhbHVlIjoiMjAyNi0wNy0wNyAxNTozMjowMy4wMDA[...]
[...]
