interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/events/count.json?created_at_min=2026-07-29T17%3A45%3A00Z&created_at_max=2026-07-29T18%3A00%3A00Z
  response:
    body:
      string: '{"count": 16}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-version:
      - 2026-07
      x-shopify-shop-api-call-limit:
      - 1/40
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/events.json?limit=100&created_at_min=2026-07-29T17%3A45%3A00Z&created_at_max=2026-07-29T18%3A00%3A00Z
  response:
    body:
      string: '{"events": [{"id": 162099022233820, "subject_id": 1729, "created_at":
        "-Fallback-scrubbed-KScpbSCkgGukwddoXPnYBCJJm", "subject_type": "-Fallback-scrubbed-WOdhqHV",
        "verb": "-Fallback-scrubbed-ZjaNDioPkGl", "author": "-Fallback-scrubbed-brfNUHAEFVbh",
        "path": "-Fallback-scrubbed-hfLgfcLWnRZoOBVUORFDHYYWxqUVM"}, {"id": 162099022266588,
        "subject_id": 4384, "created_at": "-Fallback-scrubbed-KScpbSCkgGukwddoXPnYBCJJm",
        "subject_type": "-Fallback-scrubbed-WOdhqHV", "verb": "-Fallback-scrubbed-ZjaNDioPkGl",
        "author": "-Fallback-scrubbed-brfNUHAEFVbh", "path": "-Fallback-scrubbed-LsmCobQJclsOHePFsyNKHXmWVHlvJ"},
        {"id": 162099022299356, "subject_id": 4384, "created_at": "-Fallback-scrubbed-KScpbSCkgGukwddoXPnYBCJJm",
        [...]
