interactions:
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String,
      $sortKey: OrderSortKeys) { orders(first: $first, after: $after, query: $filter,
      sortKey: $sortKey) { edges { cursor node { id refunds { id } updatedAt } },
      pageInfo { hasNextPage } } } ", "variables": {"first": 1, "filter": "updated_at:>''2026-05-30T00:00:00''",
      "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"orders": {"edges": [{"cursor": "eyJsYXN0X2lkIjo3MTg1MDg3MzY1MzQwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyNS4wNDU3MDQifQ==",
        "node": {"id": "gid://shopify/Order/7185087365340", "refunds": [], "updatedAt":
        "2026-06-30T16:30:25Z"}}], "pageInfo": {"hasNextPage": true}}}, "extensions":
        {"cost": {"requestedQueryCost": 6866, "actualQueryCost": 6866, "throttleStatus":
        {"maximumAvailable": -303.926889338547, "currentlyAvailable": 6055, "restoreRate":
        -751752370.180347}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-10
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "query tapShopify($first: Int, $after: String, $filter: String,
      $sortKey: OrderSortKeys) { orders(first: $first, after: $after, query: $filter,
      sortKey: $sortKey) { edges { cursor node { id refunds { id } updatedAt } },
      pageInfo { hasNextPage } } } ", "variables": {"first": 250, "after": "eyJsYXN0X2lkIjo3MTg1MDg3MzY1MzQwLCJsYXN0X3ZhbHVlIjoiMjAyNi0wNi0zMCAxNjozMDoyNS4wNDU3MDQifQ==",
      "filter": "updated_at:>''2026-05-30T00:00:00''", "sortKey": "UPDATED_AT"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"orders": {"edges": [{"cursor": "eyJsYXN0X2lkIjo3MTg1ODk0NjcwNTU2LCJsYXN0X3ZhbHVlIjoiMjAyNi0wNy0wMSAwMTo0NjoxNy40MTQ3MT[...]
- request:
    body: '{"query": "query tapShopify($id1: ID!) {  q1: refund(id: $id1) { id order
      { id } createdAt duties { amountSet { presentmentMoney { amount currencyCode
      } shopMoney { amount currencyCode } } } legacyResourceId note totalRefundedSet
      { presentmentMoney { amount currencyCode } shopMoney { amount currencyCode }
      } updatedAt }  }", "variables": {"id1": "gid://shopify/Refund/974227767516"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hotglue-testing-1.myshopify.com/admin/api/2026-07/graphql.json
  response:
    body:
      string: '{"data": {"q1": {"id": "gid://shopify/Refund/974227767516", "order":
        {"id": "gid://shopify/Order/7092373586140"}, "createdAt": "-Fallback-scrubbed-VbysvvlvhjGfqZHKKBpF",
        "duties": [], "legacyResourceId": "-Fallback-scrubbed-RaBmpTLUJJIz", "note":
        null, "totalRefundedSet": {"presentmentMoney": {"amount": "-Fallback-scrubbed-vYJ",
        "currencyCode": "-Fallback-scrubbed-vQU"}, "shopMoney": {"amount": "-Fallback-scrubbed-vYJ",
        "currencyCode": "-Fallback-scrubbed-vQU"}}, "updatedAt": "2026-07-07T15:31:59Z"}},
        "extensions": {"cost": {"requestedQueryCost": 7428, "actualQueryCost": 7428,
        "throttleStatus": {"maximumAvailable": -303.926889338547, "currentlyAvailable":
        4316, "restoreRate": -751752370.180347}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      content-language:
      - en
      x-dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
      x-shopify-api-gql-engine:
      - cardinal
      x-shopify-api-version:
      - 2025-10
      x-shopify-api-version-warning:
      - https://shopify.dev/concepts/about-apis/versioning
      x-stats-apiclientid:
      - '347932033025'
      x-stats-apipermissionid:
      - '691266257116'
      x-stats-userid:
      - ''
    status:
      code: 200
      message: OK
version: 1
